.heading {

font-size: 25px;
width:100%;
margin:0px;
box-shadow: 5px 5px 5px grey; 

}


.heading_div {

float: none;
background:cyan;
padding:10px;
border-radius:25px;
color:purple;
box-shadow: 5px 5px 5px navy;

}

.heading_div2{

font-size:20px;


}